.container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

form {
    width: 45%;
}

input, button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    form {
        width: 100%;
    }
}